@page
@model Valuator.Pages.SummaryModel
@{
}
@if (@Model.IsLoading)
{
    <p>Оценка ещё не окончена. Пожалуйста, попробуйте обновить страницу</p>
}
else
{
    <p>Оценка содержания: @Model.Rank</p>
    <p>Плагиат: @Model.Similarity</p>
}
